h1, h2
{
  text-align: center;
}

body {
  background-color: black;
  color: rgb(32, 32, 32);
}

#page {
  margin: 20px auto;
  width: 600px;
  font-size: 15px;
  font-family: helvetica;
  background-color: gray;
  
}

#buttonDiv {
  text-align:center;
}


#message-form {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

#message-form button[type="submit"] {
  margin-top: 10px;
}

#message-form #message-body {
  height: 100px;
  width: 99%;
}

#unicornGif {
  height: 200px;
  width: 200px;
}

#unicornDiv {
  text-align: center;
}

.message-list .message-timestamp {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: right;
}

#name_moods{
  margin-left: 50px;
}